.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background:  linear-gradient(135deg, 
   rgb(144, 232, 240) 0%, rgb(171, 232, 233) 52%, 
  rgba(250, 38, 193, 0.719) 52%, 
  hsla(327, 84%, 47%, 0.822) 100%);
   color:#78909c;

font-family: "Rubik",sans-serif;


}

